            * {
                padding: 0;
                margin: 0;
            }
            
            .box {
                display: inline-block;
                background: rgb(50, 205, 153);
                width: 250px;
                height: 250px;
                color: blue;
                border: 5px solid #edf8ed;
                border-radius: 5px;
                border-style: groove;
                background-position: center;
                /* Center the image */
                background-repeat: no-repeat;
                /* Do not repeat the image */
                background-size: cover;
                /* Resize the background image to cover the entire container */
                box-shadow: 0 0 3px 3px #c7c8ce;
            }
            
            .div-h2 {
                text-align: center;
                background: rgb(17, 180, 209);
                color: white;
                font-size: 20px;
            }
            
            .container {
                display: inline-block;
                align-items: center;
            }
            
            .btn {
                padding: 10px 10px 10px 10px;
                margin: 185px 60px 60px 60px;
                background-color: darkblue;
                color: white;
                cursor: pointer;
                border-radius: 10px;
                border-color: white;
                outline: none;
                width: fit-content;
            }
            
            .btn:hover {
                background-color: #6792e2;
                /* Green */
                color: white;
            }
            
            h1 {
                text-align: center;
            }
            
            .container {
                margin-left: 100px;
            }